.resize-point {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    /* вы спросите ЧЗХ, а я отвечу - https://yoksel.github.io/url-encoder/ */
    background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='-0.54 -0.54 19.08 19.08' xmlns='http://www.w3.org/2000/svg' mirror-in-rtl='true' fill='%23303C6c' stroke='%23303C6c' transform='rotate(0)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23ffffff' stroke-width='0.576'%3E%3Cpath fill='%23ffffff' d='M14.228 16.227a1 1 0 0 1-.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1-.707.293zm-5.638 0a1 1 0 0 1-.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1-.707.293zm-5.84 0a1 1 0 0 1-.707-1.707L14.52 2.043a1 1 0 1 1 1.415 1.414L3.457 15.934a1 1 0 0 1-.707.293z'/%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath fill='%23ffffff' d='M14.228 16.227a1 1 0 0 1-.707-1.707l1-1a1 1 0 0 1 1.416 1.414l-1 1a1 1 0 0 1-.707.293zm-5.638 0a1 1 0 0 1-.707-1.707l6.638-6.638a1 1 0 0 1 1.416 1.414l-6.638 6.638a1 1 0 0 1-.707.293zm-5.84 0a1 1 0 0 1-.707-1.707L14.52 2.043a1 1 0 1 1 1.415 1.414L3.457 15.934a1 1 0 0 1-.707.293z'/%3E%3C/g%3E%3C/svg%3E");   
    border-top: none;
    border-left: none;
}

/* почему-то для картинок и текста по разному отображалась иконка */
.text-right-buttom-point {
    right: 4px;
    bottom: 4px;
}

.image-right-buttom-point {
    right: 5px;
    bottom: -4px;
}